{% extends 'base.html.twig' %}

{% block title %}Index Maison{% endblock %}

{% block body %}

<!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Nos propriétés étonnantes</h1>
                        <span class="color-text-a">Grille propriétés</span>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    {% for annonce in annonces %}
    <section class="property-grid grid">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="{{ path('maison_detail', {'id': annonce.id}) }}" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="{{ path('maison_detail', {'id': annonce.id}) }}">Monaco
                                            <br/>{{annonce.titre}}</a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">à vendre | € {{annonce.prix}}</span>
                                    </div>
                                    <a href="{{ path('maison_detail', {'id': annonce.id}) }}" class="link-a">Cliquez ici
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Terrain</h4>
                                            <span>{{annonce.surface}}m
                          <sup>2</sup>
                        </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Chambres</h4>
                                            <span>{{annonce.nbrDeChambres}}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">S.D.B</h4>
                                            <span>{{annonce.nbrSdb}}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Garage</h4>
                                            <span>{{annonce.nbrGarage}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Property Grid Single-->
    {% endfor %}

    
{% endblock %}